.header-container{
    background-image: url('../../../images/chairBg.png');
    background-size: cover;
    position: relative;
}

.header-container::after {
    height: 755px;
    content: ' ';
    position: absolute;
    top: 0;
    width: 36%;
    right: 0;
    background-color: #3A4256;
    z-index: -50;
}